<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>

<div class="about">
<h1>About</h1>
<h2>"Wicka" is a 3rd person action-adventure game made with the Unreal Engine.</h2>
<p>Players play as the undying witch, Wicka, who has been awoken from her slumber by a mysterious individual.</p>
<p>The player must guide Wicka down the hallway, collecting her old spell books and defeating the monsters that would stop her from leaving her tomb. Far in the distance, the light pours through the rectangular entrance, leading to the outside world and the answers she seeks.</p>
<h2>Who has awoken her and for what purpose?</h2>
</div>
