<h1>About</h1>
<p>"Wicka" is a 3rd person action-adventure game made with the Unreal Engine. In the game, players play the undying witch, Wicka, who has been awoken by a mysterious individual.</p>
<p>The player must guide Wicka down the hallway, collecting the torn pages of her old spell books and defeating the tomb-dwelling monsters along the way. Far in the distance, the light of the outside world pours through the rectangular entrance to her tomb, leading to freedom and answers. Who dares to interrupt the slumber of Wicka, the Wax Witch?</p>

<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>
