<h1>About</h1>
<p>"Wicka" is a 3rd person action-adventure game made with the Unreal Engine. In the game, players play the undying witch, Wicka, who has been awoken by a mysterious individual.</p>
<p>The player must guide Wicka down the hallway, collecting the torn pages of her old spell books and defeating the monsters that would stop her from leaving. Far in the distance, the light of the outside world pours through the rectangular entrance of her tomb, leading to freedom and the answers she seeks. Who has awoken her and to what end?</p>

<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>
