<h1>About</h1>
<p>"Wicka" is a 3rd person action-adventure game made with the Unreal Engine. In the game, the player plays the undying witch, Wicka, who has been awoken from her centuries-long sleep by an unknown hand.</p>
<p>As Wicka, the player must travel down the hallway, collecting the torn pages of Wicka's old spell books and defeating the tomb-dwelling monsters along the way. Far in the distance, the light of the outside world pours through the rectangular opening, to her freedom and the answers she seeks.</p>

<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>
