<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>

<div class="about">
<h1>About</h1>
<h2>"Wicka" is a 3rd person action-adventure game made with the Unreal Engine.</h2>
<ul>
    <li>Play as the wax witch, Wicka.</li>
    <li>Collect spell books and gain new abilities!</li>
    <li>Slay monsters.</li>
    <li>Escape the tomb and find the answers you seek.</li>
</ul>

<h2>Who has awoken her and for what purpose?</h2>
</div>
