<h1>About</h1>
<p>Wicka is a 3rd person action-adventure game made with the Unreal Engine.</p>
<p>In the game, the player plays the undying witch, Wicka, (the player must travel down the hallway collecting the torn pages of her discarded spell book and defeating the monsters that reside in the tomb with her. making their way to the entrance of the tomb and the outside world.) who while alive centuries ago placed her soul in a wax figurine, to achieve a sort of unlife.</p>
<p>In the world, spellcasters are feared far and wide--not for their ability to cast spells, but for the unwanted reality that for some reason whereever spellcasters are, dangerous monsters are too. In the past when spellcasters were common and widely known to exist, it was standard practice to kill them, lest they bring monsters.</p>
<p>The one safeguard a spellcaster had from the angry mobs who want to kill him is his ability to blend in. With a body made of wax, Wicka crossed the line from human to monster, but perhaps something even worse. A monster that attracts monsters.</p>
<p>They caught Wicka one night and placed her in a tomb deep within the mountainside, sealing the tomb shut. (Why did they not cut her into pieces or melt her wax body?) Awoken from her endless slumber by an unknown hand, Wicka must make her way out of the tomb that she was placed in long ago. Like rose petals, enchanted candles bob up and down in the air above her. Whoever put them there is the same person who lit the candles atop her head, waking her from her torpor-like sleep.</p>
<p>Far in the distance the light of the outside world pours through a rectangular opening, the entrance. Her tomb has been opened.</p>

<a href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>
