<div class="download_instructions">
<p>This game is no longer in active development and remains unfinished.</p>
<p>Follow the link to my Google drive and click the download button in the top left corner.</p>
<p>To play the game, you will need a Mac operating system and a controller with a USB connector.</p>
<p>Once you have downloaded the game, you must enable your Mac to open it.</p>
<p>Navigate to 'System Prefences' and to the 'Security and Privacy' tab.</p>
<p>At the bottom click "Open Anyway".</p>
<p>If you have any questions, comments, or concerns, please contact me at jmccrory@vt.edu!</p>
<p>I hope you enjoy the game!</p>
</div>

<a class="download" href="https://drive.google.com/file/d/1gMgRZOwGviJM7Ea-v2l9q56bQqEx7PrX/view?usp=sharing">
<p>Click to Download</p>
</a>


<a class="back_button"href="/">
<img id="logo" src="/media/imgs/backButtonHover.png" width="100" height="100" alt="logo">
</a>
