
<!-- <div class="container"> -->
<!-- <img id="logo" src="media/imgs/standin_logo.png" alt=""> -->

<!-- Slideshow container -->
<div class="slideshow-container" id="slideShow_container">
    <div class="mySlides emptySlide fade"></div>
    <div class="mySlides fade">
        <h1>Mana and Life</h1>
        <p>Wick Head uses both health and magic power, or "Mana" for her spells.</p>
        <p>Two meters that are intertwined. Her mana cannot exceed her health, but while mana replinishes naturally over time, her health does not.</p>
    </div>
    <div class="mySlides fade">
        <h1>Enchanted Candles</h1>
        <p>Candles bob up and down in the air above. Whoever lit them, is probably the same person who lit the flame upon her head, waking her from her eternal slumber.</p>
        <p>If she can touch them, Wick Head can melt the candles and assimilate them into her body, healing her of any damage.</p>
    </div>
    <div class="mySlides fade">
        <h1>Wick Head's Flame</h1>
        <p>The fire burning on Wick Head's head can be sent out, lighting the subject of her attention (and locking the camera to that enemy).</p>
        <p>The flame represents her life force and mana. An enchanted fire, if it goes out she will fall back to sleep.</p>
    </div>
    <div class="mySlides fade">
        <h1>Cursed Grimoires</h1>
        <p>Some wizards guard the secrets of their spellcraft even into death, cursing their grimoires with their dying breath to attack any who dare look into them. Fortunately, the worst a cursed book can do is a give a nasty papercut. But like the sting of a bee, when multiplied can be fatal. Knowledge seekers be warned.</p>
        <img id="test_gif" width='600' height="330"src="media/gifs/book1.gif" alt="">
        <img id="test_gif" width='600' height="330"src="media/gifs/book2.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Whip Wand</h1>
        <p>Even the most adept wizards find themselves within whomping distance once awhile. A simple cantrip, Whip Wand allows the wielder to turn their wand into a whip. Simple, but effective.</p>
        <img id="test_gif" width='515' height="298"src="media/gifs/whip_wand1.gif" alt="">
        <img id="test_gif" width='505' height="338"src="media/gifs/whip_wand2.gif" alt="">
        <p>This spell requires no mana or health to cast.</p>
    </div>
    <div class="mySlides fade">
        <h1>Melt the Self</h1>
        <img id="test_gif" width='600' height="338"src="media/gifs/melt_self1.gif" alt="">
        <img id="test_gif" width='600' height="338"src="media/gifs/melt_self2.gif" alt="">
        <p>Only the legendary Wick Head can cast Melt the Self, as it requires the caster to be made of wax! Sink below the stone floor to evade capture.
        <p>Caution, this spell drains Wick Head's life force.</p>
    </div>
    <div class="mySlides fade">
        <h1>Freeze Ray</h1>
        <img id="test_gif" width='500' height="500"src="media/imgs/freeze_ray9.png" alt="">
        <p>Open up a portal to the world's tallest mountain at the tip of your wand and spew the frigid, winter winds that reside there, freezing all in your path--for a time.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/freeze_ray1.gif" alt="">
        <img id="test_gif" width='1000' height="625"src="media/imgs/freeze_ray1.png" alt="">
        <img id="test_gif" width='1000' height="625"src="media/imgs/freeze_ray4.png" alt="">
        <p>This spell uses mana.</p>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis</h1>
        <p>Speak to the heavy stones that kept Wick Head prisoner for so long and tell them to fly and strike dead any who would imprison her again.</p>
        <img id="test_gif" width='600' height="338"src="media/imgs/telekinesis1.png" alt="">
        <img id="test_gif" width='425' height="293"src="media/gifs/telekinesis1.gif" alt="">
        <img id="test_gif" width='471' height="337"src="media/gifs/telekinesis2.gif" alt="">
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis3.gif" alt="">
        <p>This spell uses mana.</p>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis, Brick-Riding</h1>
        <p>Walk upon the heavy stones that loose from the ground.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding1.gif" alt="">
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding2.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Immolate</h1>
        <p>Turn the meager candle upon your head into a raging inferno, scorching your enemies.</p>
        <img id="test_gif" width='600' height="338"src="media/imgs/immolate1.png" alt="">
        <img id="test_gif" width='600' height="338"src="media/imgs/immolate2.png" alt="">
        <img id="test_gif" width='600' height="338"src="media/gifs/immolate.gif" alt="">
        <p>Careful, this spell melt's Wick Head, draining her life force.</p>
    </div>
    <div class="mySlides fade">
        <h1>Immolate, Melt Ice</h1>
        <p>Bricks frozen by your Freeze Ray cannot be lifted by Telekinesis. Melt the ice with Immolate to use them.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/immolate_melt_ice.gif" alt="">
    </div>

</div>
<br>

<div class="book">
<!-- <img id="book_background" src="media/imgs/book_background.png" alt=""> -->
<button id="book_button back" type="button" name="back"></button>
<div class="book_sprite" id="book_sprite"></div>
<button id="book_button forward" type="button" name="forward"></button>
</div>



<!-- <div class="character">
    <div class="monster"> -->
        <!-- <div class="monster_sprites"> -->
            <!-- <div class="monster0_sprite"></div>
            <div class="monster1_sprite"></div>
            <div class="monster2_sprite"></div>
            <div class="monster3_sprite"></div> -->
        <!-- </div> -->
        <!-- <div class="monster_background_images">
            <img id="monster_background0" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background1" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background2" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background3" src="media/imgs/monster_background.png" alt="">
        </div> -->
    <!-- </div> -->
<!-- <img id="character_background" src="media/imgs/character_background.png" alt=""> -->
<!-- <div class="character_sprite"></div> -->
<!-- </div> -->

<!-- </div> -->
<script src="/scripts/slides.js" type="text/javascript"></script>
