
<!-- Slideshow container -->
<div class="slideshow-container" id="slideShow_container">
    <div class="mySlides emptySlide fade"></div>
    <div class="mySlides fade">
        <h1>Cursed Grimoires</h1>
        <p>Some wizards guard the secrets of their spellcraft even into death, cursing their grimoires with their dying breath.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/book1.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Health and Mana</h1>
        <p>Wicka uses both health and mana to power her spells.</p>
        <p>Her mana cannot exceed her health, but replinishes over time. Health does not.</p>
        <img id="test_gif" width='687' height="30"src="media/gifs/mana_health_bar2.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Enchanted Candles</h1>
        <p>If she can touch the candles bobbing up and down in the air above, Wicka can melt and assimilate them into her body, healing any damage she's sustained.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding2.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Wicka's Flame</h1>
        <p>The flame on Wicka's head can be sent out, to illuminate the subject of her attention (locking the camera to that enemy).</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/melt_self1.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Whip Wand</h1>
        <p>Whip Wand turns Wicka's wand into a whip.</p>
        <img id="test_gif" width='687' height="397"src="media/gifs/whip_wand1.gif" alt="">
        <h3>*This spell requires no mana or health to cast.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Melt the Self</h1>
        <p>Turning her body into molten wax, Wicka sinks below the stone floor to evade her enemies.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/melt_self2.gif" alt="">
        <h3>*Caution: this spell uses health to cast.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Freeze Ray</h1>
        <p>Freeze enemies in their tracks, for a time.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/freeze_ray1.gif" alt="">
        <h3>This spell uses mana.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis</h1>
        <p>Wicka can lift the heavy stones from the floor with her magic and toss them at her enemies.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/telekinesis3.gif" alt="">
        <h3>*This spell uses mana.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis, Brick-Riding</h1>
        <p>Using Telekinesis, Wicka can lift the stones from the floor and then walk upon them.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Immolate</h1>
        <p>Turn Wicka's flame into a raging inferno, scorching her enemies.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/immolate.gif" alt="">
        <h3>*Caution: this spell uses health to cast.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Immolate, Melt Ice</h1>
        <p>Bricks frozen by Freeze Ray cannot be lifted by Telekinesis. Use Immolate to melt the ice.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/immolate_melt_ice.gif" alt="">
    </div>

</div>
<br>

<div class="book">
<button id="book_button_back" type="button" name="back"></button>
<div class="book_sprite" id="book_sprite"></div>
<button id="book_button_forward" type="button" name="forward"></button>
</div>

<script src="/scripts/slides.js" type="text/javascript"></script>
