
<!-- <div class="container"> -->
<!-- <img id="logo" src="media/imgs/standin_logo.png" alt=""> -->

<!-- Slideshow container -->
<div class="slideshow-container" id="slideShow_container">
    <div class="mySlides emptySlide fade"></div>
    <div class="mySlides fade">
        <h1>Cursed Grimoires</h1>
        <p>Some wizards guard the secrets of their spellcraft even into death, cursing their grimoires with their dying breath.</p>
        <p>If Wicka approaches one of these books, possessed pages will swarm her and give her papercuts. And like the sting of a bee, when multiplied these attacks can be fatal. Knowledge seekers be warned.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/book1.gif" alt="">
        <!-- <img id="test_gif" width='600' height="330"src="media/gifs/book2.gif" alt=""> -->
    </div>
    <div class="mySlides fade">
        <h1>Mana and Life</h1>
        <p>Wicka uses both health and mana to power her spells.</p>
        <p>The two meters are intertwined.
        <p>Her mana cannot exceed her health, and while mana replinishes naturally over time, her health does not.</p>
        <img id="test_gif" width='687' height="30"src="media/gifs/mana_health_bar2.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Enchanted Candles</h1>
        <p>Candles bob up and down in the air above.</p>
        <p>If she can touch them, Wicka can melt the candles and assimilate them into her body, healing her of any damage she's sustained.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding2.gif" alt="">

    </div>
    <div class="mySlides fade">
        <h1>Wicka's Flame</h1>
        <p>The fire burning on Wicka's head can be sent out, illuminating the subject of her attention (and locking the camera to that enemy).</p>
        <p>The flame represents her life force and mana, an enchanted fire. If it goes out, she will fall back to sleep.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/melt_self1.gif" alt="">
    </div>
    <div class="mySlides fade">
        <h1>Whip Wand</h1>
        <p>Even the most adept wizards find themselves within whomping distance once awhile. A simple cantrip, Whip Wand allows Wicka to turn her wand into a whip. Simple, but effective.</p>
        <!-- <img id="test_gif" width='515' height="298"src="media/gifs/whip_wand1.gif" alt=""> -->
        <img id="test_gif" width='687' height="397"src="media/gifs/whip_wand1.gif" alt="">
        <!-- <img id="test_gif" width='505' height="338"src="media/gifs/whip_wand2.gif" alt=""> -->
        <h3>This spell requires no mana or health to cast.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Melt the Self</h1>
        <p>Only Wicka can cast Melt the Self, turning her body into molten wax and sinking below the stone floor.
        <img id="test_gif" width='687' height="387"src="media/gifs/melt_self2.gif" alt="">
        <h3>Caution, this spell drains Wicka's life force.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Freeze Ray</h1>
        <!-- <img id="test_gif" width='500' height="500"src="media/imgs/freeze_ray9.png" alt=""> -->
        <p>Open a portal to the world's tallest mountaintop at the tip of your wand and spew the frigid, winter winds that reside there, freezing Wicka's enemies in their tracks, for a time.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/freeze_ray1.gif" alt="">
        <!-- <img id="test_gif" width='1000' height="625"src="media/imgs/freeze_ray1.png" alt="">
        <img id="test_gif" width='1000' height="625"src="media/imgs/freeze_ray4.png" alt=""> -->
        <h3>This spell uses mana.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis</h1>
        <p>Speak to the heavy stones that kept Wicka prisoner for so long and tell them to fly, strike dead any who would imprison her again.</p>
        <!-- <img id="test_gif" width='600' height="338"src="media/imgs/telekinesis1.png" alt="">
        <img id="test_gif" width='425' height="293"src="media/gifs/telekinesis1.gif" alt="">
        <img id="test_gif" width='471' height="337"src="media/gifs/telekinesis2.gif" alt=""> -->
        <img id="test_gif" width='687' height="387"src="media/gifs/telekinesis3.gif" alt="">
        <h3>This spell uses mana.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Telekinesis, Brick-Riding</h1>
        <p>Walk upon the heavy stones that loose from the ground with but a whisper.</p>
        <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding.gif" alt="">
        <!-- <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding2.gif" alt=""> -->
    </div>
    <div class="mySlides fade">
        <h1>Immolate</h1>
        <p>Turn Wicka's flame into a raging inferno, scorching her enemies.</p>
        <!-- <img id="test_gif" width='600' height="338"src="media/imgs/immolate1.png" alt="">
        <img id="test_gif" width='600' height="338"src="media/imgs/immolate2.png" alt=""> -->
        <img id="test_gif" width='687' height="387"src="media/gifs/immolate.gif" alt="">
        <h3>Careful, this spell uses Wicka's life force.</h3>
    </div>
    <div class="mySlides fade">
        <h1>Immolate, Melt Ice</h1>
        <p>Bricks frozen by your Freeze Ray cannot be lifted by Telekinesis. Melt the ice with Immolate to use Telekinesis on them.</p>
        <img id="test_gif" width='687' height="387"src="media/gifs/immolate_melt_ice.gif" alt="">
    </div>

</div>
<br>

<div class="book">
<!-- <img id="book_background" src="media/imgs/book_background.png" alt=""> -->
<button id="book_button back" type="button" name="back"></button>
<div class="book_sprite" id="book_sprite"></div>
<button id="book_button forward" type="button" name="forward"></button>
</div>

<script src="/scripts/slides.js" type="text/javascript"></script>
