
<div class="container">

<img id="logo" src="" alt="logo">
<!-- <div class="test">
    <img id="test_gif" width='600' height="338"src="media/gifs/book1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/book2.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/freeze_ray1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/immolate_melt_ice.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/immolate.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/melt_self1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/melt_self2.gif" alt="">

    <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis_brick_riding2.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis2.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/telekinesis3.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/whip_wand1.gif" alt="">
    <img id="test_gif" width='600' height="338"src="media/gifs/whip_wand2.gif" alt="">
</div> -->
<!-- <div class="book">
<img id="book_background" src="media/imgs/book_background.png" alt="">
<button class="book_button" type="button" name=""></button>
<div class="book_sprite"></div>
</div> -->


    <button id="grimoire" type="button" name="grimoire"></button>
    </div>



<div class="character">
    <div class="monster">
        <!-- <div class="monster_sprites"> -->
            <div class="monster0_sprite"></div>
            <div class="monster1_sprite"></div>
            <div class="monster2_sprite"></div>
            <div class="monster3_sprite"></div>
        <!-- </div> -->
        <!-- <div class="monster_background_images">
            <img id="monster_background0" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background1" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background2" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background3" src="media/imgs/monster_background.png" alt="">
        </div> -->
    </div>
<!-- <img id="character_background" src="media/imgs/character_background.png" alt=""> -->
<div class="character_sprite"></div>
</div>

 <script src="/scripts/index.js" type="text/javascript"></script>
