<img id="character_background" src="media/imgs/frame0_test.png" alt="">
<div class="character"></div>

<img id="monster_background0" src="media/imgs/frame77 copy.png" alt="">
<div class="monster0"></div>

<img id="monster_background1" src="media/imgs/frame77 copy.png" alt="">
<div class="monster1"></div>

<img id="monster_background2" src="media/imgs/frame77 copy.png" alt="">
<div class="monster2"></div>

<img id="monster_background3" src="media/imgs/frame77 copy.png" alt="">
<div class="monster3"></div>


<!-- <div class="book"></div> -->
