
<div class="container">
<img id="logo" src="/media/imgs/backButtonHover.png" height="300" width="400" alt="logo">
<div class="index_buttons">
    <button id="index_about" type="button" name="Learn About The Game">Learn About The Game</button>
    <button id="index_grimoire" type="button" name="Read The Grimoire">Read The Grimoire</button>
    <button id="index_download" type="button" name="Download The Game">Download The Game</button>
</div>


<div class="character">
    <div class="candle_test">
            <div class="monster0_sprite"></div>
            <div class="monster1_sprite"></div>
            <div class="monster3_sprite"></div>
            <div class="monster2_sprite"></div>
            <div class="monster3_sprite"></div>
    </div>
    <div class="door_sprite"></div>
    <div class="monster">
            <div class="monster0_sprite"></div>
            <div class="monster1_sprite"></div>
            <div class="monster2_sprite"></div>
            <div class="monster3_sprite"></div>
    </div>
<!-- <img id="character_background" src="media/imgs/character_background.png" alt=""> -->
<div class="character_sprite"></div>
</div>
</div>

 <script src="/scripts/index.js" type="text/javascript"></script>
