
<div class="container">
<!-- <img id="logo" src="media/imgs/standin_logo.png" alt=""> -->
<div class="test">
<img id="test_gif" width='600' height="338"src="media/gifs/immolate.gif" alt="">
<img id="test_gif" width='600' height="338"src="media/gifs/immolate_melt_ice.gif" alt="">
</div>
<!-- <div class="book">
<img id="book_background" src="media/imgs/book_background.png" alt="">
<button class="book_button" type="button" name=""></button>
<div class="book_sprite"></div>
</div> -->



<div class="character">
    <div class="monster">
        <!-- <div class="monster_sprites"> -->
            <div class="monster0_sprite"></div>
            <div class="monster1_sprite"></div>
            <div class="monster2_sprite"></div>
            <div class="monster3_sprite"></div>
        <!-- </div> -->
        <!-- <div class="monster_background_images">
            <img id="monster_background0" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background1" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background2" src="media/imgs/monster_background.png" alt="">
            <img id="monster_background3" src="media/imgs/monster_background.png" alt="">
        </div> -->
    </div>
<!-- <img id="character_background" src="media/imgs/character_background.png" alt=""> -->
<div class="character_sprite"></div>
</div>

</div>
