<img id="character_background" src="media/imgs/character_background.png" alt="">
<div class="character"></div>

<img id="monster_background0" src="media/imgs/monster_background.png" alt="">
<div class="monster0"></div>

<img id="monster_background1" src="media/imgs/monster_background.png" alt="">
<div class="monster1"></div>

<img id="monster_background2" src="media/imgs/monster_background.png" alt="">
<div class="monster2"></div>

<img id="monster_background3" src="media/imgs/monster_background.png" alt="">
<div class="monster3"></div>

<img id="book_background" src="media/imgs/book_background.png" alt="">
<div class="book"></div>
