<div class="monster_eyes">

        <div class=monster1>
            <div class="monster1sprite"></div>
        </div>

        <div class=monster2>
            <div class="monster2_sprite"></div>
        </div>

        <div class=monster3>
            <div class="monster3_sprite"></div>
        </div>

        <div class=monster4>
            <div class="monster4_sprite"></div>
        </div>

        <div class=monster5>
            <div class="monster5_sprite"></div>
        </div>

        <div class=monster6>
            <div class="monster6_sprite"></div>
        </div>

        <div class=monster7>
            <div class="monster7_sprite"></div>
        </div>

        <div class=monster8>
            <div class="monster8_sprite"></div>
        </div>

        <div class=monster9>
            <div class="monster9_sprite"></div>
        </div>

</div>

<!-- <div class="mockup">
    <img src="/media/imgs/monster_eye_mockup/eye_placement.png" alt="logo">
</div> -->
