html, body {
  height: 100%;
  background-color: black;
}

.navbar{
    z-index: 5;

}

.return{
    float: right;
        z-index: 5;

}

.index_buttons{
    display: flex;
    flex-direction: column;
}

/* #index_about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    opacity: .5;
} */

#index_about,#index_grimoire, #index_download{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    opacity: .5;
    width: 35vw;
    height: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2.5vw;
    font-family: 'Optima', sans-serif;
}

/* #index_download{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    opacity: .5;
} */

.container{
    /* display: flex;
    flex-direction: column; */
    /* background-color: yellow; */
    /* height: 100%; */
    width: 100%;
    /* flex-grow: 1; */

    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: auto; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
}

#logo{
    /* flex-grow: 1; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:0;
    width: 500px;
    height:400px;
    /* position:fixed;
    top:-400px;
    left:-1110px; */
    /* transform: scale(.19); */
    background-image: url('/media/imgs/backButtonHover.png') left center;
    /* opacity: .3; */
}

.character{
    /* position:absolute; */
    /* left: 50%; */
    /* margin-top:auto; */
    /* width: 5vw; */
    /* margin-top: 10vw; */
    /* background-color: white; */
    /* margin-top: auto; */
    /* width: 100%; */

}

#test_gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: -1vw;
}

button{
    background-color: transparent;
    width: 13vw;
    height: 13vw;
    border-color: transparent;
}

/* button:hover{
    background-color: pink;
} */

#book_button_back{
    background: url('/media/imgs/icon_arrow4.png') left center;
    background-size: 13vw 5vw;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

#book_button_back:hover{
    /* width: 5vw; */
    /* height: 50px; */
    /* background-color: pink; */
    background: url('/media/imgs/icon_arrow4Hover.png') left center;
    background-size: 13vw 5vw;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

#book_button_forward{
    background: url('/media/imgs/icon_arrow4.png') left center;
    background-size: 13vw 5vw;
    background-repeat: no-repeat;
}

#book_button_forward:hover{
    /* width: 5vw; */
    /* height: 50px; */
    /* background-color: pink; */
    background: url('/media/imgs/icon_arrow4Hover.png') left center;
    background-size: 13vw 5vw;
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-family: 'Optima', sans-serif;
    /* font-size: 10vw; */
    font-size: 5vw;
    /* font-size: 5vw; */
    padding-top: 2vw;
    padding-bottom: 1vw;
}

p{
    z-index: 15;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: white; */
    color: white;
    font-family: 'Optima', sans-serif;
    /* font-size: 5vw; */
    font-size: 2.5vw;

    /* flex-grow: 1; */
    /* padding-bottom: 3vw; */
}

h3{
    float: right;
    color: white;
    font-family: 'Optima', sans-serif;
    font-size: 2vw;
    margin: 1vw;

}

.slideshow-container{
        /* background-color: brown; */
        /* background-color: #D6CCA9; */

}

.mySlides{
    /* background-color: pink; */
    /* display: flex;
    flex-direction: column;
    height: 55vw; */
    padding: 1vw;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.character{
    /* float:left; */
    /* background-color: white; */
}

#character_background{
    /* Adds a static background of the character for when the animation 'pops' */
    z-index:0;
    /* position:fixed;
    bottom:0px;
    left:10%; */
}

.character_sprite{
    /* position:fixed; */
    /* bottom:0px;
    left:10%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* opacity: .5; */
    width: 930px;
    height: 447px;
    background: url('/media/sprites/character_handDown.png') left center;
    animation: idle 4s steps(32) infinite alternate-reverse;
}

@keyframes idle{
  from{background-position-x:0px;}
  to{background-position-x:-29760px;}
}

.character_sprite:hover, .character_sprite:active, .character_sprite:focus{

    background: url('/media/sprites/character_handUp.png') left center;
    animation: wand 5s steps(32) infinite alternate-reverse;

}

@keyframes wand{
  from{background-position-x:0px;}
  to{background-position-x:-29760px;}
}

.slideshow-container{
        flex-grow: 1;

}

.book{
    z-index: 16;
    display: flex;
    /* flex-direction: row; */
}

#book_background{
    /* Adds a static background for when the animation 'pops' */
    z-index:0;
    /* position:fixed;
    bottom:700px;
    left:33%; */
}

.grimoire:hover + .character_sprite{
    background: url('/media/sprites/character_handUp.png') left center;
    animation: wand 5s steps(32) infinite alternate-reverse;
}

.book_sprite{
    /* position:fixed;
    bottom:700px;
    left:33%; */

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    height: 230px;
    background: url('/media/sprites/book_rollover_black_background_CROPPED.png') left center;
    animation: openBook 3s steps(1) infinite;

}

.book_sprite:hover, .book_sprite:active, .book_sprite:focus{
    /* animation: openBook 3s steps(101) infinite alternate; */
    /* animation: openBook 3s steps(1) infinite; */
}

.animation_open{
    /* animation-iteration-count: 1; */
    animation: openBook 3s steps(1) infinite;
}

.animation_forward{
    /* animation-iteration-count: 1; */

    animation: turnPageForward 3s steps(86) forwards;
}

.animation_backward{
    /* animation-iteration-count: 1; */

    animation: turnPageBackward 3s steps(86) forwards;
}

@keyframes openBook{
    /* 1 step */
  from{background-position-x:0px;}
  to{background-position-x:0px;}
}

@keyframes openingBookFlippingToEnd{
    /* 101 steps */
  from{background-position-x:0px;}
  to{background-position-x:-30300px;}
}

@keyframes turnPageForward{
    /* 86 steps */
  from{background-position-x:0px;}
  to{background-position-x:-25800px;}
}

@keyframes turnPageBackward{
    /* 86 steps */
  from{background-position-x:-25800px;}
  to{background-position-x:0px;}
}

.monster{
    /* position: relative;
    position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* margin-bottom: auto; */
    top:auto;
    left: 50%;
    margin: 1vw;
    transform: translateY(5px) 4s infinite alternate-reverse;
}

.monster_sprites{
    z-index: 1;
}

.monster_sprites, .monster_background_images{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top:auto;
    left: 50%;
}

.monster0_sprite, .monster1_sprite, .monster2_sprite, .monster3_sprite{
    /* position:fixed;
    bottom:475px;*/
    /* left:30vw; */

    width: 40px;
    height: 20px;
    background: url('/media/sprites/monster_open_eyes_sprite4.png') left center;
    animation: openEyes 10s steps(415) infinite alternate-reverse;
    animation-delay: 1s;
}



#monster_background0{
    /* adds a static background of open eyes for when the animation 'pops' out */
    /* position:fixed;
    bottom:475px;*/
    /* left:40%; */
    width: 40px;
    height: 20px;
}

.monster1_sprite{
    /* position:fixed;
    bottom:450px;*/
    /* left:25%; */

    /* width: 40px;
    height: 20px;
    background: url('/media/imgs/monster_open_eyes_sprite4.png') left center; */
    /* animation: openEyes 10s steps(414) infinite alternate-reverse; */
      animation-delay: 4s;
}

#monster_background1{
    /* adds a static background of open eyes for when the animation 'pops' out */
    /* position:fixed;
    bottom:450px;*/
    /* left:25%; */
    width: 40px;
    height: 20px;
}

.monster2_sprite{
    /* position:fixed;
    bottom:450px;*/
    /* left:35%; */

    /* width: 40px;
    height: 20px;
    background: url('/media/imgs/monster_open_eyes_sprite4.png') left center; */
    /* animation: openEyes 10s steps(414) infinite alternate-reverse; */
     animation-delay: 3s;
}

#monster_background2{
    /* adds a static background of open eyes for when the animation 'pops' out */
    /* position:fixed;
    bottom:450px;
    left:35%; */
    width: 40px;
    height: 20px;
}

.monster3_sprite{
    /* position:fixed;
    bottom:500px;*/
    /* left:30%; */

    /* width: 40px;
    height: 20px;
    background: url('/media/imgs/monster_open_eyes_sprite4.png') left center; */
    /* animation: openEyes 10s steps(414) infinite alternate-reverse; */
      animation-delay: 5s;
}

#monster_background3{
    /* adds a static background of open eyes for when the animation 'pops' out */
    /* position:fixed;
    bottom:500px;
    left:30%; */
    width: 40px;
    height: 20px;
}

/* .test{
flex-grow: 1;
} */

@keyframes openEyes{
    /* 415 steps */
  from{background-position-x:-16600px;}
  to{background-position-x:0px;}
}

.last{
    flex-grow: 1;
}

@media only screen and (max-width: 1300px) {

    h1{
        font-size: 10vw;
        padding-bottom: 4vw;
    }

    p{
        font-size: 4vw;
    }

    h3{
        font-size: 3.5vw;
        margin: 1vw;
    }
    button{
        width:20vw;
        height: 20vw;
    }
    #book_button_forward, #book_button_forward:hover, #book_button_back, #book_button_back:hover{
        background-size: 16.5vw 7vw;
    }
    /* #book_button_forward:hover{
                background-size: 16.5vw 7vw;

    }
    #book_button_back{

    }
    #book_button_back:hover{

    } */
}


@media only screen and (max-width: 1300px) {

    h1{
        font-size: 10vw;
        padding-bottom: 4vw;
    }

    p{
        font-size: 4vw;
    }

    h3{
        font-size: 3.5vw;
        margin: 1vw;
    }
    button{
        width:20vw;
        height: 20vw;
    }
    #book_button_forward, #book_button_forward:hover, #book_button_back, #book_button_back:hover{
        background-size: 16.5vw 7vw;
    }
    /* #book_button_forward:hover{
                background-size: 16.5vw 7vw;

    }
    #book_button_back{

    }
    #book_button_back:hover{

    } */
}
