html, body {
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: 'Slenderman';
  src: url('/fonts/Slenderman-Regular.eot');
  src: url('/fonts/Slenderman-Regular.woff') format('woff');
  src: url('/fonts/Slenderman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.grimoire_page, .about_page{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.character{
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    flex-shrink: 0;
    flex-grow: 1;
}

.index_buttons{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20vw;
    padding-right: 20vw;
    z-index: 3;
    margin-top: -50px;
}

.logo_sprite{
    padding: 130px;
    z-index: 1;
    display: block;
    margin-top:  30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 300px;
    background: url('/media/sprites/logo_spritesheet_750by300_29250_38steps_copy.png') left center;
    animation: logoAnim 4s steps(38) infinite;
    transform: scale(.75);
}

@keyframes logoAnim{
    /* 1 step */
  from{background-position-x:0px;}
  to{background-position-x:-28500px;}
}

#logo{
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:0;
    background-image: url('/media/imgs/backButtonHover.png') left center;
}


#index_about,#index_grimoire, #index_download{
    z-index: 5;
    display: block;
    opacity: .5;
    width: 30vw;
    height: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 5vw;
    border-radius: 5px;
    letter-spacing: .1vw;
    color: white;
    background-color: transparent;
    font-family: 'Slenderman';
}

#index_about:hover,#index_grimoire:hover, #index_download:hover{
    color: #ebd315;
}

.candle_test{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:100px;
    width: 100%;
    z-index: 2;
}


.candle_sprite_test{
    z-index: 0;
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -350px;
    margin-top: -10px;
    width: 900px;
    height: 380px;
    background: url('/media/sprites/candle_sprite_test_900by380_85500_94steps.png') left center;
    animation: candle_float 15s steps(94) infinite;
    transform: scale(.75);

}

@keyframes candle_float{
    /* 94 step */
  from{background-position-x:0px;}
  to{background-position-x:-84600px;}
}

.door_sprite{
    margin-top: 0px;
    margin-bottom: -300px;
    transform: scale(.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 600px;
    background: url('/media/sprites/door_sprite_560by600_36400_64steps.png') left center;
    animation: shine 5s steps(64) infinite alternate-reverse;
    transform: scale(.25);

}



@keyframes shine{
  from{background-position-x:0px;}
  to{background-position-x:-35840px;}
}

.character_sprite{
    margin-top: -20px;
    margin-bottom: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
    height: 447px;
    background: url('/media/sprites/character_handDown.png') left center;
    animation: idle 4s steps(32) infinite alternate-reverse;
    transform: scale(.75);

}

@keyframes idle{
  from{background-position-x:0px;}
  to{background-position-x:-29760px;}
}


.character_sprite:hover, .character_sprite:active, .character_sprite:focus{
    background: url('/media/sprites/character_handUp.png') left center;
    animation: wand 5s steps(32) infinite alternate-reverse;
    transform: scale(.75);
}

@keyframes wand{
  from{background-position-x:0px;}
  to{background-position-x:-29760px;}
}


.monster{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top:auto;
    margin-left: auto;
    margin-right: auto;
    margin: 1vw;
    transform: translateY(5px) 4s infinite alternate-reverse;
    background-color: orange;
}

.monster_pack{
    margin: 1vw;
    width:400;
    height:64.65;
    margin-top: 50px;
    margin-bottom: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.75);
}



.monster1_sprite, .monster2_sprite, .monster3_sprite, .monster4_sprite,.monster5_sprite, .monster6_sprite, .monster7_sprite, .monster8_sprite, .monster9_sprite{
    width: 40px;
    height: 20px;
    background: url('/media/sprites/monster_open_eyes_sprite4.png') left center;
    animation: openEyes 10s steps(414) infinite alternate-reverse;
    animation-delay: 1s;
}

.monster1_sprite{
     animation-delay: 4.7s;
}

.monster2_sprite{
     animation-delay: 2.4s;
}

.monster3_sprite{
      animation-delay: 2s;
}

.monster4_sprite{
     animation-delay: 4.4s;
}

.monster5_sprite{
     animation-delay: 1s;
}

.monster6_sprite{
      animation-delay: 3s;
}

.monster7_sprite{
     animation-delay: 3.6s;
}

.monster8_sprite{
     animation-delay: 4s;
}

.monster9_sprite{
      animation-delay: 5s;
}

@keyframes openEyes{
    /* 415 steps */
  from{background-position-x:-16560px;}
  to{background-position-x:0px;}
}

h4{
    color: white;
    font-family: 'Slenderman';
    font-size: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    display: block;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-right: 100px;
    letter-spacing: .05vw;
    align-items: center;
    justify-content: center;

}

/* Back button for all non-index pages. (About, Grimoire, and Download.) */
.back_button{
    display: flex;
    margin-top: 100px;
}

#back_button_img{
    display: block;
    margin-top: -400px;
    margin-left: 40vw;
    background: url('/media/imgs/back_button_hover.png') left center;
    width:1305px;
    height:838px;
    background-size: 26vw 10vw;
    background-repeat: no-repeat;
}

/* About page divs in order of appearance. */

.about{
    margin-top:100px;
    margin-right:7vw;
    margin-left:7vw;
    margin-bottom: auto;
}

.about_slides_container{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.about_slideControls_container{
    margin: auto;
    width: 50%;
}

.about_slideControls{
    margin-left: -8vw;
    display: flex;
}

.about_slideshow{

}

.about_mySlides{
    width:100%;
    margin-bottom: 100px;
}

#about_screenshot{
    width:1200px;
    height:750px;
    padding: 4vw;
    object-fit: contain;
}

#about_button_back{
    background: url('/media/imgs/icon_arrow4.png') left center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

#about_button_back:hover{
    background: url('/media/imgs/icon_arrow4Hover.png') left center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

#about_button_forward{
    background: url('/media/imgs/icon_arrow4.png') left center;
    background-repeat: no-repeat;
}

#about_button_forward:hover{
    background: url('/media/imgs/icon_arrow4Hover.png') left center;
    background-repeat: no-repeat;
}

#about_button_forward, #about_button_forward:hover, #about_button_back, #about_button_back:hover{
    background-size: 13vw 5vw;
    z-index: 1;
}

.return{
    float: right;
    z-index: 5;
}

.download_instructions{
    margin-top: 100px;
    margin-right:7vw;
    margin-left:7vw;
}

.download{
    display: block;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
}

.download_p{
    color: white;
}

#download_instructions{
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding:2vw;
    z-index:0;
    background-image: url('/media/imgs/backButtonHover.png') left center;
}


#test_gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* #test_gif_health_bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1000px;
    margin-bottom: 50px;
} */

h1{
    color: white;
    font-family: 'Slenderman';
    font-size: 20vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 2vw;
    letter-spacing: .05vw;
}

h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Slenderman';
    font-size: 8vw;
    margin-bottom: 2vw;
}

ul{
    font-family: 'Slenderman';
    color: white;
    font-size: 4vw;
    margin-bottom: 5vw;
    line-height: 7vw;
    letter-spacing: .4vw;
    list-style:circle;
    margin-left:1vw;
    padding-left:1vw;
}

p{
    z-index: 15;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #9B3201;
    font-family: 'Optima', sans-serif;
    font-size: 2vw;
    text-indent: 0em;
    letter-spacing: .4vw;
    line-height: 3vw;
    margin-bottom: 5vw;
}

h3{
    float: right;
    color: white;
    font-family: 'Optima', sans-serif;
    font-size: 2vw;
    margin-top: 1vw;
}

.mySlides{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin-right:7vw;
    margin-left:7vw;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.book{
    z-index: 3;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    /* flex-grow: 1; */
}

button:hover + .character_sprite{
    background: url('/media/sprites/character_handUp.png') left center;
    animation: wand 5s steps(32) infinite alternate-reverse;
}

.book_sprite_anim{
    z-index: 1;
    display: block;
    margin-top:  auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 230px;
    background: url('/media/sprites/book_rollover_black_background_CROPPED.png') left center;
    animation: openBook 3s steps(1) infinite;
}

.book_sprite, #book_button_1, #book_button_2{
    z-index: auto;
}

    button{
        background-color: transparent;
        border-color: transparent;
        width:20vw;
        height: 20vw;
    }

    #book_button_back{
        background: url('/media/imgs/icon_arrow4.png') left center;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-repeat: no-repeat;
    }

    #book_button_back:hover{
        background: url('/media/imgs/icon_arrow4Hover.png') left center;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-repeat: no-repeat;
    }

    #book_button_forward{
        background: url('/media/imgs/icon_arrow4.png') left center;
        background-repeat: no-repeat;
    }

    #book_button_forward:hover{
        background: url('/media/imgs/icon_arrow4Hover.png') left center;
        background-repeat: no-repeat;
    }

    #book_button_forward, #book_button_forward:hover, #book_button_back, #book_button_back:hover{
        background-size: 13vw 5vw;
        z-index: 1;
        display: block;
        margin-top:  auto;
        margin-bottom: auto;
        margin-top: -2vw;
        margin-left: auto;
        margin-right: auto;

    }

.animation_open{
    animation: openBook 3s steps(1) infinite;
}

.animation_forward{
    animation: turnPageForward 3s steps(86) forwards;
}

.animation_backward{
    animation: turnPageBackward 3s steps(86) forwards;
}

@keyframes openBook{
    /* 1 step */
  from{background-position-x:0px;}
  to{background-position-x:0px;}
}

@keyframes openingBookFlippingToEnd{
    /* 101 steps */
  from{background-position-x:0px;}
  to{background-position-x:-30300px;}
}

@keyframes turnPageForward{
    /* 86 steps */
  from{background-position-x:0px;}
  to{background-position-x:-25800px;}
}

@keyframes turnPageBackward{
    /* 86 steps */
  from{background-position-x:-25800px;}
  to{background-position-x:0px;}
}

.grimoire{
    display: flex;
    flex-direction: column;
}

#grimoire_slideShow_container{
    /* margin-top: -5vw; */
}

@media only screen and (max-width: 1300px) {

    h1{
        letter-spacing: .05vw;
        font-size: 20vw;
        padding-bottom: 2vw;
    }


    h2{
        text-indent: 0em;
        font-size: 14vw;
        letter-spacing: .4vw;
        padding-bottom: 2vw;
    }

    p{
        line-height: 5vw;
        font-size: 4vw;
    }

    ul, li{
        color: white;
        font-size: 7vw;
        margin-bottom: 5vw;
        line-height: 7vw;
        letter-spacing: .4vw;
        list-style:circle;
        margin-left:1vw;
        padding-left:1vw;

    }

    h3{
        font-size: 3.5vw;
    }

    #book_button_forward, #book_button_forward:hover, #book_button_back, #book_button_back:hover{
        background-size: 16.5vw 7vw;
        margin-top: auto;
    }

    .mySlides{
        margin-right:7vw;
        margin-left:7vw;
    }

    #index_about, #index_grimoire, #index_download, #index_about::after{
        width:60vw;
        height:17vw;
        font-size: 10vw;
    }

    .about_slideControls{
        margin-left: 4vw;
    }

    .about_mySlides{
        margin-right:7vw;
        margin-left:7vw;
        /* width:100%; */
        margin-bottom: 100px;
    }

    #about_screenshot{
        padding: 0vw;
        width:800px;
        height:531.25px;
        object-fit: contain;
    }

    #download_instructions{
        padding: 0vw;
        width:800px;
        height:531.25px;
        object-fit: contain;
    }

    #about_button_forward, #about_button_forward:hover, #about_button_back, #about_button_back:hover{
        background-size: 16.5vw 7vw;
    }

    .candle_sprite_test{
        margin-top: 50px;
    }

    .index_buttons{
        margin-left: 3vw;
        margin-right: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

}

.monster_eyes{
    display: block;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.mockup{
    position: absolute;
    top: 590px;
    left: 740px;
    z-index: 0;
}

.monster1{
    position: absolute;
    left: 748px;
    top: 631px;
    /* opacity: .5; */

}

.monster2{
    position: absolute;
    left: 818px;
    top: 619px;
    /* opacity: .5; */

}

.monster3{
    position: absolute;
    left: 865px;
    top: 638px;
    /* opacity: .5; */

}

.monster4{
    position: absolute;
    left: 898px;
    top: 604px;
    /* opacity: .5; */

}

/*  "leader" centerpiece  */
.monster5{
    position: absolute;
    left: 944px;
    top: 648px;
    /* opacity: .5; */

}

.monster6{
    position: absolute;
    left: 1020px;
    top: 634px;
    /* opacity: .5; */

}


/* far-right */
.monster7{
    position: absolute;
    left: 1140px;
    top: 627px;
    /* opacity: .5; */

}

.monster8{
    position: absolute;
    left: 1067px;
    top: 613px;
    /* opacity: .5; */

}

.monster9{
    position: absolute;
    left: 981px;
    top: 606px;
    /* opacity: .5; */

}
